body {
    overflow-x: hidden;
}

@media screen and (max-width: 1680px){
    .row {
        margin: -48px 50px 0px 0px;
    }
}

.qr-borde{
    border:2px solid #999999;
    padding-top: 20px;
    padding-bottom: 20px;.resposive-img{
}
.res-img{
    max-width: 100%;
}
